@font-face {
    font-family: avdStyle;
    src: url('assets/fonts/manetains/Manetains.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

::selection {
    background-color: var(--avd-color-3);
    color: var(--avd-color-2);
}

:root {
    --avd-color-1: rgb(18, 18, 18);
    --avd-color-2: white;
    --avd-color-3: rgb(60, 145, 255);
    --avd-bg: #f2e6ee;
    --avd-text: #1e1e1e;
}

::-webkit-scrollbar {
    background-color: var(--avd-color-2);
    display: none;
}

::-webkit-scrollbar-button {
    background-color: var(--avd-color-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--avd-color-1);
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'roboto', avdStyle; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--avd-bg);
}

/* SET DEFAULT */
main {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--avd-color-2);
    background: radial-gradient(circle at 20% 20%, #c3d5ff, transparent 40%), radial-gradient(circle at 80% 30%, rgb(172, 212, 255), transparent 40%), radial-gradient(circle at 50% 70%, #a4cbff, transparent 40%);
    background-blend-mode: soft-light;
    background-size: 400% 400%;
    animation: bgBlendAn 10s ease-in-out infinite;
}

@keyframes bgBlendAn {
    0% {
        background-position: 0 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 0%;

    }
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--avd-color-1);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.avdMAIN {
    display: flex;
}

/*  */
.avd-loadScreen {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--avd-color-2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
}

.avd-boxContainerOne {
    animation: fadeIn 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
    position: relative;
    width: 60px;
    height: 60px;
    animation: pulse 2s infinite ease-in-out;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid transparent;
    transform-origin: center center;
}

.circle-1 {
    border-top: 4px solid var(--avd-color-1);
    animation-delay: 0s;
    animation: avdSpin1 1.5s linear infinite;

}

.circle-2 {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    border-bottom: 4px solid var(--avd-color-3);
    animation-delay: 0.3s;
    animation: avdSpin2 1.5s linear infinite;

}

@keyframes avdSpin1 {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(-180deg) scale(1.1);
    }

    100% {
        transform: rotate(-360deg) scale(1);
    }
}

@keyframes avdSpin2 {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/*  */
@media screen and (max-width:760px) {
    .avd-detailHeader ul #hdrNextAndSearch i {
        display: none;
    }

    .avd-detailExperience .avd-frameDetailVscode {
        width: 97%;
        background-color: #872c2c;
        font-size: 13px;
    }

    .avd-mainContentProfile {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        flex-wrap: wrap;
        font-size: 13px;
    }

    .avd-homeCode ul li a {
        display: block;
    }
}

.avd-detailExperience {
    z-index: 99999;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    overflow-y: auto;
}

.avd-frameDetailVscode {
    width: 80%;
    height: 80%;
    outline: 0.1px solid rgb(127, 127, 127);
    box-shadow: 0 0 5px var(--avd-color-1);
    border-radius: 4px;
}

.avd-detailFrame {
    background-color: rgb(57, 57, 57);
    height: 91%;
    max-width: 100%;
}

.avd-detailHeader {
    z-index: 22;
    background-color: rgb(60, 60, 60);
    display: flex;
    width: 100%;
    min-height: 6%;
    max-height: 6%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.avd-detailHeader ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avd-detailHeader ul li {
    display: flex;
    align-items: center;
}

.avd-detailHeader ul li i {
    padding: 10px 12px;
    color: var(--avd-color-2);
    border-radius: 5px;
    margin: 0 3px;
}

.avd-detailHeader ul #hdrIconVscode {
    font-size: 19px;
}

.avd-detailHeader ul #hdrIconVscode .bxl-visual-studio {
    color: rgb(60, 145, 255);
}

.avd-detailHeader ul #hdrNextAndSearch {
    width: 40%;
}

.avd-detailHeader ul #hdrNextAndSearch i {
    margin: 0 2px;
    padding: 4px;
    color: grey;
    transition: all 0.1s ease;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}

.avd-detailHeader ul #hdrNextAndSearch a i {
    font-size: 16px;
    background-color: rgb(87, 87, 87);
    color: var(--avd-color-2);
    border: 0.1px solid rgb(137, 137, 137);
}

.avd-detailHeader ul #hdrNextAndSearch i:hover {
    background-color: rgb(87, 87, 87);
    color: var(--avd-color-2);
}

.avd-detailHeader ul #hdrNextAndSearch input {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    background-color: rgb(87, 87, 87);
    color: var(--avd-color-2);
    border: 0.1px solid rgb(137, 137, 137);
    border-radius: 5px;
    margin: 0 10px;
    padding: 6px 20px;
    width: 100%;
    opacity: 0.6;
    transition: all 0.1s ease;
}

.avd-detailHeader ul #hdrNextAndSearch input::placeholder {
    color: var(--avd-color-2);
}

.avd-detailHeader ul #hdrNextAndSearch input:hover,
.avd-detailHeader ul #hdrNextAndSearch input:focus {
    opacity: 1;
    outline: 2px solid gray;
}

.avd-detailHeader ul #hdrNav i {
    transition: all 0.1s ease;
}

.avd-detailHeader ul #hdrNav i:hover {
    background-color: rgb(87, 87, 87);
}

.avd-detailHeader ul #hdrNav .bx-x:hover {
    background-color: var(--avd-color-3);
}

.avd-detailMain {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(24, 24, 24);
}

.avd-detailSidebar {
    z-index: 2;
    background-color: rgb(51, 51, 51);
    width: fit-content;
    height: 100%;
}

.avd-detailSidebar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}

.avd-detailSidebar ul li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.avd-detailSidebar ul li i {
    padding: 14px 15px;
    transition: all 0.1s ease;
    font-size: 1.5em;
}

.avd-detailSidebar ul li i:hover {
    color: var(--avd-color-2);
}

.avd-detailExplorer {
    background-color: rgb(35, 35, 35);
    max-width: 20vh;
    width: 100%;
    display: none;
}

.avd-detailExplorer #ExplorerHdr li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--avd-color-2);
    background-color: transparent;
}

.avd-detailExplorer #ExplorerHdr li p {
    font-size: 10px;
}

.avd-detailExplorer ul .avd-explorerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 5px;

}

.avd-detailExplorer ul .avd-explorerNav h4 {
    color: var(--avd-color-2);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.avd-detailExplorer ul .avd-explorerNav h4 i {
    font-size: 14px;
    margin-right: 4px;
}

.avd-detailExplorer ul .avd-explorerNav button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--avd-color-2);
    font-size: 14px;
}

.avd-detailExplorer ul .avd-explorerNav button:hover {
    background-color: rgb(78, 78, 78);

}

.avd-detailExplorer ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--avd-color-2);
    font-size: 12px;
    cursor: pointer;
}

.avd-detailExplorer ul li:hover {
    background-color: rgb(46, 46, 46);
}

.avd-detailExplorer ul li i {
    font-size: 15px;
    margin-right: 5px;

}

.avd-mainFrame {
    width: 100%;
}

.avd-mainFrameFile {
    width: 100%;
    height: 6%;
    background-color: rgb(45, 45, 45);
    color: var(--avd-color-2);
}

.avd-mainFrameFile ul {
    display: flex;
    height: 100%;

}

.avd-mainFrameFile ul li {
    margin-right: 1px;
    height: 100%;
}

.avd-mainFrameFile ul li a {
    display: flex;
    align-items: center;
    padding: 0 2vh;
    color: var(--avd-color-2);
    font-size: 12px;
    height: 100%;
}

.avd-mainFrameFile ul li i {
    font-size: 10px;
    font-weight: 100;
    margin-left: 10px;
}

.avd-mainContentWelcome {
    height: 94%;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 45%;
    min-width: 280px;
    gap: 20px;
    overflow-y: auto;
}

@media screen and (max-width: 760px) {
    .avd-mainContentWelcome>* {
        flex: 1 1 100%;
    }
}

.avd-homeCode {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 45%;
    height: 100%;
    background-color: #1e1e1e;
    padding: 5%;
    margin: 0 2%;
    color: var(--avd-color-2);
    outline: 0.1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

.avd-homeCode ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.avd-homeCode ul li {
    display: flex;
    flex-direction: column;
}

.avd-homeCode ul li a {
    position: relative;
    display: none;
    color: var(--avd-color-2);
    background-color: var(--avd-color-3);
    width: fit-content;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

@media screen and (max-width: 760px) {
    .avd-homeCode ul li a {
        display: flex;
    }
}

.avd-homeCode ul li h1 {
    font-weight: 100;
    font-size: 1.5em;
    width: 100%;
    color: var(--avd-color-2);
}

.avd-homeCode ul li h2 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    background: linear-gradient(270deg, rgb(60, 145, 255), white, rgb(60, 145, 255));
    background-size: 800% 800%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtGrad 10s ease infinite;
}

.avd-homeCode ul li h2 i {
    position: relative;
    margin-right: 10px;
    color: var(--avd-color-2);
    -webkit-text-fill-color: initial;
    background-color: rgb(60, 145, 255);

}

.avd-homeCode ul li h3 {
    font-size: 1em;
    padding: 5px 0px;
    width: 100%;
    font-weight: 100;
    color: gray;
}

.avd-homeCode ul li p {
    border-radius: 2px;
    width: fit-content;
    padding: 3px 0px;
    font-size: 1.3em;
    color: rgb(219, 219, 219);
}

.avd-homeCode ul li button {
    cursor: pointer;
    display: flex;
    align-items: end;
    border: none;
    background-color: transparent;
    background: linear-gradient(270deg, rgb(60, 145, 255), white, rgb(60, 145, 255));
    background-size: 800% 800%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtGrad 10s ease infinite;
    padding: 2px 0px;
    font-size: 12px;
}

.avd-homeCode ul li button:hover {
    opacity: 0.7;
}

.avd-homeCode ul li button i {
    margin-right: 10px;
    font-size: 1.9em;
}

.avd-loginCode {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2%;
    color: var(--avd-color-2);
    border-radius: 10px;
}

.avd-loginCode form {
    margin: 0% 5%;
    padding: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #1e1e1e;
    outline: 0.1px solid rgb(60, 60, 60);
}

.avd-loginCode form h1 {
    color: var(--avd-color-3);
    font-size: 1.5em;
    margin: 10px 0;

}

.avd-loginCode form p {
    font-size: 12px;
    color: #b4b4b4;
    padding: 10px 20px;
    border-radius: 100px;
    opacity: 0.5;
}

.avd-loginCode form ul {
    width: 100%;
}

.avd-loginCode form ul li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 70vh;
    height: auto;
}

.avd-loginCode form ul li label {
    cursor: text;
    position: absolute;
    width: fit-content;
    padding: 6px 10px;
    border-radius: 3px;
    transition: all 0.2s ease;
    opacity: 0.5;
    transform: translateY(0px) translateX(16px);
    font-size: 15px;
}

.avd-loginCode form ul li button {
    cursor: pointer;
    position: relative;
    color: var(--avd-color-2);
    background-color: var(--avd-color-3);
    text-align: center;
    margin: 10px 0px;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    opacity: 0.9;
    width: 100%;
}

.avd-loginCode form .boxFromLogin button:hover {
    opacity: 1;
    box-shadow: 0 0 10px var(--avd-color-3);
}

.avd-loginCode form ul li input {
    position: relative;
    border: none;
    padding: 20px 15px;
    padding-left: 12vh;
    width: 100%;
    background-color: #1e1e1e;
    outline: 0.1px solid rgb(60, 60, 60);
    color: var(--avd-color-2);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.avd-loginCode form ul li input:focus {
    outline: 2px solid rgb(71, 71, 71);
    box-shadow: 0 0 10px rgba(71, 71, 71, 0.712);
}

.avd-loginCode form ul li input:focus~label,
.avd-loginCode form ul li input:valid~label {
    color: rgb(24, 24, 24);
    background-color: var(--avd-color-3);
    opacity: 1;
    font-size: 12px;
}

.avd-mainContentProfile {
    display: none;
    height: 94%;
    color: var(--avd-color-2);
}

.avd-profileImg {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.avd-profileImg img {
    width: 100%;

}

.avd-profileAbout {
    width: 100%;
    padding: 2%;
    color: var(--avd-color-2);
}

.avd-profileAbout ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5% 8%;
    background-color: #1e1e1e;
    outline: 0.1px solid rgb(60, 60, 60);
    border-radius: 10px;
}

.avd-profileAbout ul li {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

.avd-profileAbout ul .homeCode-contact a i:hover {
    outline: 1px solid var(--avd-color-2);
    color: #1e1e1e;
    transform: translateY(-10px);
    background-color: var(--avd-color-2);
}

.avd-profileAbout ul li .profileName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.avd-profileAbout ul li .profileName h1 {
    font-weight: 100;
    font-size: 1.7em;
    color: var(--avd-color-2);
}

.avd-profileAbout ul li h2 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    background: linear-gradient(270deg, rgb(60, 145, 255), white, rgb(60, 145, 255));
    background-size: 800% 800%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtGrad 10s ease infinite;
}

.avd-profileAbout ul li h2 i {
    position: relative;
    margin-right: 10px;
    color: var(--avd-color-2);
    -webkit-text-fill-color: initial;
    background-color: rgb(60, 145, 255);

}

.avd-profileAbout ul li .profileName p {
    font-size: 1em;
    margin: 5px 0;
    padding: 3px 12px;
    width: fit-content;
    font-weight: 100;
    color: rgb(102, 102, 102);
    background-color: #1e1e1e;
    outline: 0.1px dashed rgb(102, 102, 102);
    outline-style: dashed;
    outline-width: 1.1px;
    border-radius: 5px;
}

.avd-profileAbout ul li h4 {
    color: var(--avd-color-2);
    font-size: 1.1em;
    background-color: var(--avd-color-3);
    width: fit-content;
    padding: 1% 2%;
    border-radius: 3px;
}

.avd-profileAbout ul li p {
    font-size: 13px;
    white-space: pre-line;
    color: var(--avd-color-2);
}

.avd-profileAbout ul li h5 {
    font-weight: 100;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--avd-color-2);
    background-color: var(--avd-color-3);
    width: fit-content;
    margin: 1% 0;
    padding: 1%;
    border-radius: 4px;
}

.avd-profileAbout ul li h5 i {
    padding-right: 5px
}

/*  */
.avd-mainContentDesain {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 94%;
    color: var(--avd-color-2);
    overflow: auto;
}

.avd-mainContentDesain img {
    position: relative;
    width: auto;
    height: 100%;
}

.avd-detailFooter {
    background-color: rgb(60, 145, 255);
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.avd-detailFooter ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--avd-color-2);
}

.avd-detailFooter ul li {
    display: flex;
    align-items: center;
}

.avd-detailFooter ul li i {
    padding: 0 10px;
}

.avd-detailFooter ul li p {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/*  */

header {
    z-index: 9999;
    width: 100%;
    height: 8vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
    background-color: var(--avd-color-1);
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.527);
}

header img {
    width: 6vh;
    height: 6vh;
}

header #avd-icon {
    transition: opacity 0.5s ease-in-out;
}

header .fade-out {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

header .fade-in {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

header .fade h1 {
    background: linear-gradient(270deg, var(--avd-color-2), var(--avd-color-1), var(--avd-color-2));
    background-size: 800% 800%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtGrad 10s ease infinite;
}

@keyframes txtGrad {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    90% {}

    100% {
        background-position: 0% 50%;
    }
}

header .avd-boxOfMenu {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

header ul input::placeholder {
    color: var(--avd-color-2);
}

header .avd-boxOfSearch {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--avd-color-2);
    width: 100%;
}

header .avd-boxOfSearch i {
    z-index: 8;
    position: absolute;
    transform: translateX(80%);
}

header .avd-boxOfSearch input {
    cursor: pointer;
    z-index: 9;
    border: none;
    padding: 8px 10px;
    padding-left: 4vh;
    width: 2vh;
    background-color: transparent;
    color: var(--avd-color-3);
    transition: all 0.2s ease-in-out;
    outline: none;
}

header .avd-boxOfSearch input:focus~i,
input:valid~i {
    z-index: 10;
    color: var(--avd-color-3);
}

header .avd-boxOfSearch input:valid,
header .avd-boxOfSearch input:focus {
    opacity: 1;
    width: 20vh;
    outline: 1px solid var(--avd-color-3);
}

header .avd-boxOfMenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .avd-boxOfMenu ul li a {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    color: var(--avd-color-2);
    border-bottom: 2px solid transparent;
}

header .avd-boxOfMenu ul li {
    padding: 7px 5px;
    content: '';
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
}

header .avd-boxOfMenu ul li .subAbout {
    position: relative;
    outline: 1px solid var(--avd-color-1);
    background-color: rgb(255, 255, 255);
    color: var(--avd-color-1);
    position: absolute;
    top: 10vh;
    display: none;
    padding: 5px;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    transition: all 0.2s ease;
}

header .avd-boxOfMenu ul li .subAbout .subLink {
    position: relative;
    padding: 10px 4vh;
    margin: 5px 0;
    width: 100%;
    font-size: 14px;
    transition: all 0.2s ease;
    outline: 1px solid var(--avd-color-1);
    color: var(--avd-color-1);
}

header .avd-boxOfMenu ul li .subAbout:hover {
    box-shadow: 5px 5px 0 var(--avd-color-1);
    transform: scale(1.05);
}

header .avd-boxOfMenu ul li .subAbout .subLink:hover {
    transform: scale(0.95);
    color: var(--avd-color-2);
    background-color: var(--avd-color-1);
    box-shadow: 5px 5px 0 var(--avd-color-1);
}

header .avd-boxOfMenu ul li .subAbout .subLink:active {
    background-color: var(--avd-color-3);
    color: var(--avd-color-1);
}

nav {
    z-index: 9999;
    position: fixed;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    height: 10vh;
    width: 100%;
}

nav ul {
    position: relative;
    background-color: #1e1e1e;
    box-shadow: 0 0 5px rgba(24, 24, 24, 0.466);
    outline: 0.1px solid #565656;
    color: var(--avd-color-2);
    display: flex;
    font-size: 12px;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 60vh;
    height: 100%;
    border-radius: 100px;
    gap: 20px;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: flex;
    color: var(--avd-color-2);
    align-items: center;
    flex-direction: column;
    padding: 8px 4vh;
    border-radius: 100px;
    background-color: #2e2e2e;
    font-size: 10px;
    width: 100%;
}

nav ul li i {
    font-size: 1.8em;
}

/*  */
.avd-mainHome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 55px rgb(170, 170, 170);
    padding: 5%;

}

.avd-mainHome .avd-profileUserHP {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.avd-mainHome .avd-profileUserHP img {
    width: 60%;
    border-radius: 100%;
    background-color: #1e1e1e;
}

.avd-mainHome .avd-profileUser {
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avd-mainHome .avd-profileUser img {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1e1e1e;
    outline: 1px solid #2e2e2e;
    transition: all 0.4s ease-out;
    position-anchor: --avd-bubbleChatOne;
    position-area: block-end;
}

.avd-home {
    transform: translateY(8vh);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--avd-text);
}
@media screen and (max-width: 760px) {
    .avd-home {
        justify-content: left;
    }
    .avd-sosmed {
        display: none;
    }
}
.avd-welcomeBro {
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

.avd-home .avd-welcomeBro h1 {
    font-size: 2.5em;
    color: var(--avd-text);
    width: fit-content;

}

.avd-home .avd-welcomeBro h2 {
    font-size: 2em;
}

.avd-home .avd-welcomeBro .fade-out {
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
}

.avd-home .avd-welcomeBro .fade-in {
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
}

.avd-home .avd-welcomeBro h2 i {
    font-size: 0.8em;
}

.avd-home p {
    width: 100%;
    margin: 19px 0;
    font-size: 16px;
}

.avd-BtnHome {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: left;
    outline: 1px solid var(--avd-color-1);
    width: fit-content;
    transition: all 0.32s ease-in-out;
}

.avd-BtnHome a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 14px;
    margin: 5px;
    outline: 1px solid var(--avd-color-1);
    background-color: transparent;
    color: var(--avd-color-1);
    transition: all 0.15s ease-in-out;
}

.avd-BtnHome:hover {
    transform: scale(0.95);
}

.avd-BtnHome a:hover {
    background-color: var(--avd-color-1);
    color: var(--avd-color-2);
    transform: scale(0.90) rotate3d(20deg);
}

.avd-sosmed {
    position: relative;
    width: fit-content;
    bottom: 5vh;
    margin: 5vh 0;
    outline: 1px solid var(--avd-color-1);
    transition: all 0.2s ease;
}

.avd-sosmed a {
    display: flex;
    float: right;
    margin: 5px;
    padding: 2px;
    position: relative;
    color: var(--avd-color-1);
    outline: 1px solid var(--avd-color-1);
    transition: all 0.2s ease;
}

.avd-sosmed a i {
    padding: 6px;
    background-color: transparent;
    border-radius: 100px;
    font-size: 1.5em;
    transition: all 0.2s ease;
}

.avd-sosmed:hover {
    transform: scale(1.1);
}

.avd-sosmed a:hover {
    transform: scale(0.85);
    background-color: var(--avd-color-1);
    color: var(--avd-color-2);
    border-radius: 5px;
}

/*  */
#avdAbout {
    flex-direction: column;
    position: relative;
    justify-content: center;
    background: var(--avd-color-1);
    color: var(--avd-color-2);
    box-shadow: 0 0 55px rgb(170, 170, 170);
}

.avd-boxOfExperience {
    display: flex;
    flex-direction: column;
    color: var(--avd-color-2);
    width: 100%;
    padding: 5%;
    margin-bottom: 50px;
}

.avd-boxOfExperience h1 {
    font-size: 2em;
    width: fit-content;
    color: var(--avd-color-3);
    outline: 1px dashed var(--avd-color-3);
    outline-width: 1px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 30px;

}

.avd-boxOfExperience ul {
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.avd-boxOfExperience ul li {
    position: relative;
    padding: 20px;
    background-color: #1e1e1e;
    outline: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
    flex: 1 1 45%;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .avd-boxOfExperience ul li {
        flex: 1 1 100%;
        min-width: unset;
    }
}


.avd-boxOfExperience ul li .headingExp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avd-boxOfExperience ul li .headingExp h2 {
    font-size: 1em;
    font-weight: 100;
    background-color: var(--avd-color-3);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 3px;
}

.avd-boxOfExperience ul li .headingExp p {
    font-size: 12px;
    color: var(--avd-color-3);
    outline: 0.1px dashed var(--avd-color-3);
    outline-width: 1px;
    padding: 5px 10px;
    border-radius: 3px;
}

.avd-boxOfExperience ul li p {
    margin: 10px 0;
    font-size: 13px;
}

/* Table */
.avd-boxOfExperience ul li .avd-tabelKepanitiaan {
    width: 100%;
}

.avd-boxOfExperience ul li table {
    border-radius: 5px;
    border: 1px solid rgb(60, 60, 60);
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.avd-boxOfExperience ul li table thead {
    background-color: rgb(60, 60, 60);
    padding: 5px;
}

.avd-boxOfExperience ul li table thead,
tbody {
    border: 1px solid var(--avd-color-3);
}

.avd-boxOfExperience ul li table th,
td {
    border: 1px solid rgb(60, 60, 60);
    padding: 12px 5px;
    color: var(--avd-color-2);
    text-align: center;
}

/*  */
#avdAbout .avd-boxOfAcademic {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#avdAbout .avd-boxOfAcademic h1 {
    font-size: 2em;
    width: fit-content;
    color: var(--avd-color-3);
    outline: 1px dashed var(--avd-color-3);
    padding: 5px 10px;
    border-radius: 3px;
}

.avd-boxOfAcademic ul {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    overflow-x: auto;
    gap: 20px;
}



.avd-boxOfAcademic ul li {
    /* flex: 1 1 45%; */
    box-sizing: border-box;
    min-width: 280px;
    border: 10px solid #1e1e1e;
    border-radius: 3px;
    outline: 1px solid #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 760px) {
    .avd-boxOfAcademic ul li {
        flex: 1 1 100%;
        min-width: unset;
    }
}


.avd-boxOfAcademic ul li .detailImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avd-boxOfAcademic ul li .detailImg .detailBox {
    width: fit-content;
    background-color: #000000d2;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avd-boxOfAcademic ul li .detailImg .detailBox:hover {
    opacity: 0;
}

.avd-boxOfAcademic ul li .detailImg .detailBox h2 {
    font-size: 1.3em;
    color: var(--avd-color-2);
    padding: 5px 10px;
    border-radius: 100px;
}

.avd-boxOfAcademic ul li .detailImg .detailBox h3 {
    font-size: 14px;
    color: var(--avd-color-2);
    padding: 5px 10px;
    font-weight: 100;
}

.avd-boxOfAcademic ul li .detailImg .detailBox p {
    margin: 5px;
}

.avd-boxOfAcademic ul li img {
    width: 100%;
    max-height: 35vh;
    height: 100%;
    background-color: #872c2c;
}

/*  */

#avdContact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 55px rgb(170, 170, 170);
    padding: 5%;
}

#avdContact h1 {
    font-size: 1.7em;
}

#avdContact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1vh);
    flex-wrap: wrap;
}

#avdContact ul li {
    outline: 1px solid var(--avd-color-1);
    margin: 10px;
    transition: all 0.25s ease-in-out;
    padding: 5px;
}

#avdContact ul li:hover {
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 4px 4px 0px var(--avd-color-1);
}

#avdContact ul li a {
    color: var(--avd-color-1);
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 8px;
    outline: 1px solid var(--avd-color-1);
    transition: all 0.2s ease-in-out;
}

#avdContact ul li a:hover {
    transform: scale(0.8);
    border-radius: 100px;
    background-color: var(--avd-color-1);
    color: var(--avd-color-2);
}

.avd-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.545);
    color: var(--avd-color-1);
}

.avd-popup .avd-boxPopup {
    background-color: rgb(24, 24, 24);
    border-radius: 2px;
    width: 100%;
    max-width: 70vh;
    height: 40vh;
    box-shadow: 0 0 10px rgba(24, 24, 24, 0.538);
    outline: 1px solid #1e1e1e;
}

.avd-popup .avd-boxPopup .avd-popupHdr {
    background-color: var(--avd-color-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avd-popup .avd-boxPopup .avd-popupHdr p {
    padding: 0 10px;
    font-size: 14px;
    color: var(--avd-color-1);
}

.avd-popup .avd-boxPopup .avd-popupHdr ul {
    display: flex;
}

.avd-popup .avd-boxPopup .avd-popupHdr button {
    border: none;
    display: flex;
    align-items: center;
    color: var(--avd-color-1);
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.avd-popup .avd-boxPopup .avd-popupHdr button:hover {
    background-color: var(--avd-color-3);
    color: var(--avd-color-2);
}

.avd-popup .avd-boxPopup .avd-popupHdr .a_fullscreen:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

.avd-popup .avd-boxPopup iframe {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--avd-color-1);
}

/*  */
@media screen and (max-width:760px) {
    .avd-mainHome .avd-profileUserHP {
        display: flex;
    }

    .avd-mainHome .avd-profileUser {
        display: none;
    }

    .avd-home .avd-welcomeBro h1 {
        font-size: 2.5em;
    }

    .avd-home .avd-welcomeBro h2 {
        font-size: 2em;
    }

    .avd-home p {
        width: 100%;
        max-width: 100vh;
        margin: 19px 0;
    }

    header .avd-boxOfMenu ul {
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    nav {
        display: flex;
    }

    .avd-popup .avd-boxPopup {
        max-width: 40vh;
        height: 20%;
    }

    #footerName {
        display: none;
    }
}